@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 6px; /* Más delgado */
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: #333; /* Gris oscuro sutil */
    border-radius: 9999px;
    border: 1px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #4f46e5; /* Índigo al interactuar */
  }

  /* Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #333 transparent;
  }
}
